<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "mybatis-3-mapper.dtd">


<mapper namespace="com.bjksrs.dao.BasicMapper">
  <select id="getBasic" resultType="com.bjksrs.entity.Basic">
      select * from detail_basic;
  </select>

    <select id="getBasicByDevice" resultType="com.bjksrs.entity.Basic">
        select * from detail_basic where device = #{device};
    </select>
</mapper>